$fa-font-path: "./webfonts";

@import "font-awesome/fontawesome.scss";
@import "font-awesome/fa-solid.scss";
@import "font-awesome/fa-brands.scss";

@import "homepage.scss";

html, body, app {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

.main {
    height: calc(100% - 56px);
}

nav {
    z-index: 1000;
    position: relative;
}
