html, body, app {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

.main {
    height: calc(100% - 56px);
}

nav {
    z-index: 1000;
    position: relative;
}

@import "homepage.scss";
