################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MySite.Client/bin
/MySite.Client/obj
/MySite.Server/bin
/MySite.Server/obj
/MySite.Shared/bin
/MySite.Shared/obj
*.user
/MySite.Client/node_modules
