################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MySite.Client/bin/Debug/netstandard2.0
/MySite.Client/obj
/MySite.Client/MySite.Client.csproj.user
/MySite.Server/bin/Debug/netcoreapp2.0
/MySite.Server/obj
/MySite.Server/MySite.Server.csproj.user
/MySite.Shared/bin/Debug
/MySite.Shared/obj
*.user
/MySite.Client/node_modules
/MySite.Server/bin/Debug
/MySite.Client/npm-debug.log
