@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

.col {
  padding: 0;
}

:host() {
  height: 100%;
  width: 100%;
}

:host() > div {
  height: 100%;
}

.nav-menu {
  max-height: 50px;
}

.body-content {
  height: calc(100% - 50px);
}
