@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

$h-and-f-height: 72px;
$header-height: $h-and-f-height;
$footer-height: $h-and-f-height;

.app-container {
  min-height: 100%;
  position: relative;
}

.app-content {
  padding-top: $header-height;
  padding-bottom: $footer-height;
}

.app-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  z-index: 1000;
}

@include media-breakpoint-up(sm) {
  .app-footer {
    height: $footer-height;
  }
}

.app-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* Height of the footer */
}
