<div class="card" *ngFor="let item of $awardList | async" placement="bottom" [ngbTooltip]="item.description">
  <div class="card-icon-top">
    <fa-icon class="icon-overlay" [icon]="['fas', 'award']"></fa-icon>
  </div>
  <div class="card-body">
    <div class="card-title">
      <p>
        {{item.title}}
      </p>
    </div>
    <!-- <p class="card-text">{{item.description}}</p> -->
    <!-- <p class="card-text">
      <small class="text-muted">
        Granted at {{item.awardDate}} by <cite>{{item.company.name}}</cite>
      </small>
    </p> -->
  </div>
</div>
