<h3>Awards: </h3>
<hr/>
  <div class="card-columns">
    <div class="card" *ngFor="let item of [1,2,3,4,5,6]">
      <img class="card-img-top" src="http://loremflickr.com/160/100/institution"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural
          lead-in to additional content.</p>
        <p class="card-text" *ngIf="item % 3== 1">This card has
          supporting text below as a natural
          lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
