//1. Open sans:
$OpenSansDir:'./assets/OpenSans-';

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url($OpenSansDir + "Light.ttf") format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
  src: url($OpenSansDir + "LightItalic.ttf") format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: url($OpenSansDir + "Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
  src: url($OpenSansDir + "Italic.ttf") format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: url($OpenSansDir + "SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: italic;
  src: url($OpenSansDir + "SemiBoldItalic.ttf") format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url($OpenSansDir + "Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: italic;
  src: url($OpenSansDir + "BoldItalic.ttf") format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: normal;
  src: url($OpenSansDir + "ExtraBold.ttf") format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: italic;
  src: url($OpenSansDir + "ExtraBoldItalic.ttf") format('truetype');
}

//2. Open sans condensed:
$OpenSansCondensedDir:'./assets/OpenSansCondensed-';

@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 300;
  font-style: normal;
  src: url($OpenSansCondensedDir + "Light.ttf") format('truetype');
}

@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 300;
  font-style: italic;
  src: url($OpenSansCondensedDir + "LightItalic.ttf") format('truetype');
}

@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-style: normal;
  src: url($OpenSansCondensedDir + "Bold.ttf") format('truetype');
}
