@page "/"
@inherits MySite.Client.Base.Component.HomepageBase


<div class="logo">
    R<span class="logo-extented">sz</span>
</div>
<div class="homepage-container container-fluid">
    <div class="row justify-content-end pt-5">
        <div class="col d-flex justify-content-end">
            @if (Motto != null)
            {
                <blockquote class="blockquote p-5 text-right">
                    <p class="motto mb-0 px-2 pt-2">@Motto.Sentence</p>
                    <footer class="blockquote-footer px-2 pb-2">
                        <cite title="Jack sparrow veni vidi vici">@Motto.Author</cite>
                    </footer>
                </blockquote>
            }
        </div>
    </div>
</div>
