@page "/"
@inherits MySite.Client.Base.Component.IndexBase


<div class="logo">
    R
    <span class="logo-extented">sz</span>
</div>
<div class="homepage-container container-fluid">
    <div class="row justify-content-end pt-5">
        <div class="col">
            <blockquote class="blockquote text-right">
                <p class="motto mb-0">His his honeyed had amiss they start amiss...</p>
                <footer class="blockquote-footer"><cite title="Jack sparrow veni vidi vici">Jack sparrow</cite></footer>
            </blockquote>
        </div>
    </div>
</div>
