.homepage-container {
  height: 100%;
  position: relative; }
  .homepage-container blockquote {
    margin-right: 5vw; }
    .homepage-container blockquote .motto {
      z-index: 1000;
      position: relative; }

.logo {
  font-family: 'Open Sans';
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 60vh;
  line-height: 0.77;
  overflow: hidden;
  padding-right: 15vh;
  padding-left: 0;
  margin-left: -7vh; }
  .logo .logo-extented {
    line-height: 0.77;
    font-size: 22vh;
    position: absolute;
    right: 0;
    bottom: 0; }
